.bs-responsive-preview-wrapper {
  position: fixed;
  z-index: 500;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.bs-responsive-preview-wrapper:before {
  content: '';
  background-color: black;
  background-color: rgba(0, 0, 0, 0.92);
  background-image: -webkit-linear-gradient(left, #141414, #323232 25%, #646464 40%, #646464 60%, #323232 75%, #141414);
  background-image: -moz-linear-gradient(left, #141414, #323232 25%, #646464 40%, #646464 60%, #323232 75%, #141414);
  background-image: linear-gradient(left, #141414, #323232 25%, #646464 40%, #646464 60%, #323232 75%, #141414);
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

.bs-responsive-preview-scroll-track {
  padding: 0 60px;
  bottom: 0;
  left: 0;
  overflow-y: auto;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

.bs-responsive-preview-scroll-pane {
  min-height: 100%;
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
}

.bs-responsive-preview-container {
  z-index: 100;
  background-color: #212121;
  border-radius: 20px;
  box-shadow: 0 0 0px 1px #777, 1px 1px 60px 0px #000;
  -webkit-transition: left 150ms ease-out;
  -moz-transition: left 150ms ease-out;
  transition: left 150ms ease-out;
  opacity: 1;
  min-height: 70vh;
  margin: 0 auto;
  position: relative;
  padding: 20px;
}

iframe#bs-responsive-preview {
  display: block;
  position: absolute;
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  box-shadow: 0 0 0 1px #808080;
  -webkit-transition: all 150ms ease-out;
  -moz-transition: all 150ms ease-out;
  -o-transition: all 150ms ease-out;
  transition: all 150ms ease-out;
}

.bs-ui-widget-overlay.ui-widget-overlay {
  opacity: 1;
  z-index: 500 !important;
}

#drupal-off-canvas-wrapper .form-item.bs_responsive_bar {
  top: 68px;
  z-index: 2;
  position: sticky;
  margin: -68px -30px 68px;
  width: calc(100% + 60px);
  background: #292C32;
  border-bottom: #727579 2px solid;
  transition: all .3s ease-in-out;
}

#drupal-off-canvas-wrapper .form-item.bs_responsive_bar legend {
  margin-bottom: 2px;
}
