@import "../dialog/off-canvas.theme";
@import "../dialog/dialog.resizable";

#drupal-off-canvas-wrapper{

  /* Set some global attributes. */
  *,
  *:not(div) {
    color: $panel_text_color;
    background: unset;
    font-family: inherit;
  }

  @import "../dialog/components/*";
}
